$texto: Arial, Helvetica, sans-serif;

$color-fondo: pink;  
$primer-color: rgb(182, 164, 173);
$color-secundario:rgb(236, 217, 217);
$color-terciario: rgb(255, 0, 242);
$color-g: grey;

$pie-pagina: #b6a4ad;

$color-texto: rgb (0 0 0);
$border: 2px solid black;
$border-image: 2px solid rgb (194, 125, 136);
$border-input: 2px solid rgb(224, 123, 238);